{% extends 'simpleapp/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Список продуктов
{% endblock title %}

{% block content %}
    <h1>Все товары</h1>
    <!-- А вот так мы используем наш тег-->
    <h3>{% current_time '%b %d %Y %A' %}</h3>

    <!-- Если в переменной next_sale будет None, то выведется указанный в фильтре текст -->
    <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>
    <hr>
    {% if products %}
        <table>
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Категория</th>
                    <th>Цена</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <!-- Поменяем products на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
            {% for product in filter.qs %}
                <tr>
                    <!-- При нажатии на имя товара в таблице нас теперь будет перекидывать на страницу с информацией о товаре -->
                    <td>
                        <a href="{% url 'product_detail' product.id %}">{{ product.name|title }}</a>
                    </td>
                    <td>{{ product.name|title }}</td>
                    <td>{{ product.description|truncatewords:2|title }}</td>
                    <td>{{ product.category.name|title }}</td>
                    <!-- Используем наш фильтр -->
                    <td>{{ product.price|currency:"rub" }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Товаров нет!</h2>
    {% endif %}
    {% include 'paginate.html' %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Добавить товар">
    </form>
{% endblock content %}